<div id="footer-wrap">
	<div id="footer">
		<div class="footer-container">
			<div class="footer-nav">
				<ul>
					<li><a href="#"><span class="footer-button new-user"></span>New Users <span class="user-counter">30</span></a></li>
					<li><a href="#"><span class="footer-button new-order"></span>New Order <span class="task-counter">30</span></a></li>
					<li><a href="#"><span class="footer-button new-task"></span>New Task <span class="task-counter">30</span></a></li>
					<li><a href="#"><span class="footer-button open-tickets"></span>Open Tickets <span class="ticket-counter">30</span></a></li>
					<li><a href="#"><span class="footer-button new-comments "></span>New Comments <span class="zero-count">0</span></a></li>
				</ul>
			</div>
			<div class="copyright">
				 &copy; 2012 Ziown Admin Panel. All rights reserved
			</div>
		</div>
		<div id="goTop">
			<a href="#" class="tip-top" title="Go Top">Top</a>
		</div>
	</div>
</div>